body {
    margin: 0;
}


/* ID selectors */
#style-links {
    text-decoration: none;
}
/* main */
#imgSize {
    height: 200px;
    width: 100vw;
    

}
/* footer */
#blackNav {
    background-color: #212529;
}